In [12]:
import numpy as np
import pandas as pd

In [3]:
df = pd.read_csv('brain_size.csv' )

In [4]:
df.head()

   Gender  FSIQ  VIQ  PIQ  Weight  Height  MRI_Count
0  Female   133  132  124   118.0    64.5     816932
1    Male   140  150  124     NaN    72.5    1001121
2    Male   139  123  150   143.0    73.3    1038437
3    Male   133  129  128   172.0    68.8     965353
4  Female   137  132  134   147.0    65.0     951545

In [49]:
X = df.iloc[:, 1:3]
y = df.iloc[:, 3:4]

In [74]:
X.head()

   Ones  FSIQ  VIQ
0   1.0   133  132
1   1.0   140  150
2   1.0   139  123
3   1.0   133  129
4   1.0   137  132

In [52]:
X.insert(0, "Ones", np.ones(len(X)))

In [14]:
len(X.columns)

2

In [29]:
m = len(y)

In [57]:
theta = pd.DataFrame(np.zeros(len(X.columns)))

In [58]:
theta

     0
0  0.0
1  0.0
2  0.0

In [21]:
?pd.Series

In [75]:
theta1 = theta - 0.05 * (1 / m) * (np.dot(X.transpose(),(np.dot(X,theta) - y)))

In [76]:
theta1

           0
0    5.55125
1  654.43250
2  643.81375

In [66]:
sum(X['VIQ'])

4494

In [68]:
2 ** 2

4

In [78]:
np.sum(np.dot(X,theta) - y)

PIQ   -4441.0
dtype: float64

In [79]:
cost = (np.sum((np.dot(X, theta) - y)) ** 2) / (2 * m)

In [72]:
sum((np.dot(X, theta) - y))

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [80]:
cost

PIQ    246531.0125
dtype: float64

In [82]:
theta1

           0
0    5.55125
1  654.43250
2  643.81375

In [92]:
a =list( 0.00863459 + X['FSIQ'] *  0.98762244)

NameError: name 'array' is not defined

In [91]:
a[1:5]

[138.27577619000002, 137.28815375000002, 131.36241911000002, 135.31290887]

In [ ]:
array([138.275366, 137.287766, 131.362163, 135.312565])

In [88]:
X['FSIQ']

0     133
1     140
2     139
3     133
4     137
5      99
6     138
7      92
8      89
9     133
10    132
11    141
12    135
13    140
14     96
15     83
16    132
17    100
18    101
19     80
20     83
21     97
22    135
23    139
24     91
25    141
26     85
27    103
28     77
29    130
30    133
31    144
32    103
33     90
34     83
35    133
36    140
37     88
38     81
39     89
Name: FSIQ, dtype: int64